/* *{
  margin: 0;
  padding: 0;
} */

body{
  
  font-family: "Merriweather Sans" sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  
   /* Starting from here Banner section 1  */
}
header{
 padding: 0px;
}
header p{
   
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-family: "Lato", sans-serif;
   font-weight: 400;
  
}   
   

header h1{
   margin-top: 5px;
    padding-bottom:200px;
   text-align: center;
   font-size: 65px;
}
.section-b-1{
  /* border: 2px solid #F00; */
  padding:30px;
  
  
}
.banner-section-1{
   color:#FFF;;
   background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Banner\ Image.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
   width: 1220px;
   height: 500px;
   margin: 30px;
   border-radius: 16px; 
  }  
   

.banner-text-1{
  padding: 200px;
}

 /* Starting from here Banner section 2  */


.section-b-2{
  /* border: 2px solid green; */
  margin: 100px 60px;
  text-align: center;
  padding: 100px; 
  
}
 

.section-b-2-text0{
 /* border: 3px solid rgb(0, 8, 255); */
}
.section-b-2 .s1{
 
  color: #F00;
  font-size: 88px;
}
.section-b-2 .s2{
   
  color: #F00;
  font-size: 20px;
}
.section-b-2 .s3{
  color: #070211;
  font-size: 35px;
}
 /* Starting from here Banner section 3  */
.section-b-3{
 
  /* margin: 50px; */
  border: 3px solid #F00 ;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url("resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 1220px;
  height: 500px;
  margin: 30px;
  border-radius: 16px; 
}
.section-b-3-container{
  padding: 30px;
  display: flex;
 justify-content: space-around;
 align-items:center;
}
.section-b-3 .s4{
  font-size: 43px;
  color: #FFF;
}
.section-b-3 .s5{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.80);


}
.section-b-3 .s6{
  font-size: 16px;
}  
  

 /* Starting from here Banner section 4  */

 .section-b-4{
  margin-top: 40px;
  padding: 40px;

  width: 1200px;
  height: 300px;
  /* border: 4px solid #070211; */
  text-align: center;
  justify-content: center;
  


 }
 .section-b-4-text{
  /* border: 2px solid green; */
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  padding: 70px;
  text-align: center;
  justify-content: center;
 }
 .section-b-4-text .s7{
  color: #F00;
  font-size: 32px;
 }
 .section-b-4-text .s8{
  color: black;
  font-size: 32px;
 }
 .b-4-btn{
  border: none;
  border-radius: 5px;
  background: #F00;
  padding: 10px 20px;
 font-size: 15px;
 color: #FFF;
 }